.countries {
  margin: 3em auto 0 auto;
  padding-bottom: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 3em;
}

@media (min-width: 900px) {
  .countries {
    max-width: 1440px;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  .countries {
    padding-inline: 2em;
  }
}
